<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab-Flask-2</title>
</head>
<body> 

    <h1>Laboratoire Flask 2</h1>

    <p>Veuiller ajouter une personne</p>

    <!-- Pour eviter de mettre le style dans html,
        on peut donner un id et le modifier en css.
        Idéalement, on fait la validation avec JS!  -->
    <p style="color:red"> 
        {% autoescape false %}
            {{ error }}
        {% endautoescape %}
    </p>
    

    <form action="/validate" method="post">
        <label for="nom">Nom : </label>
        <input type="text" name="nom" value="{{ nom }}">
        <br>
        <br>
        <label for="prenom">Prenom : </label>
        <input type="text" name="prenom" value="{{ prenom }}">
        <br>
        <br>
        <label for="age">Age : </label>
        <input type="text" name="age" value="{{ age }}">
        <br>
        <br>
        <input type="submit" value="Ajouter la personne">
    </form>

</body>
</html>
