{% extends "layout.html"%}
{% block content%}
    <h1>Laboratoire Flask 2</h1>

    <p>Veuillez ajouter une personne</p>

    <!-- Pour eviter de mettre le style dans html,
        on peut donner un id et le modifier en css.
        Idéalement, on fait la validation avec JS!  -->
    <p style="color:red"> 
        {% autoescape false %}
            {{ error }}
        {% endautoescape %}
    </p>
    

    <form action="/validate" method="post">
        <label for="nom">Nom : </label>
        <input type="text" name="nom" value="{{ nom }}">
        <br>
        <br>
        <label for="prenom">Prenom : </label>
        <input type="text" name="prenom" value="{{ prenom }}">
        <br>
        <br>
        <label for="age">Age : </label>
        <input type="text" name="age" value="{{ age }}">
        <br>
        <br>
        <input type="submit" value="Ajouter la personne">
    </form>
{% endblock %}

